/* COLORS = [#05386B, #379683, #5CDB95, #8EE4AF, #EDF5E1] */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #5CDB95;
    align-items: center;
    margin: 0;
}

.calc-element {
    border-radius: 15px;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 450px;
    background-color: #05386B;
    gap: 20px;
    margin-top: auto;
    padding: 30px;
    border-radius: 40px;
    flex-shrink: 0;
}

.screen {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #379683;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0;
}

.screen-text {
    font-family: 'Orbitron', Courier, monospace;
}

.screen-text.top {
    font-size: 24px;
}

.screen-text.main {
    font-size: 48px;
    font-weight: 600;
}

.buttons {
    display: grid;
    flex: 10;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

.button {
    background-color: #8EE4AF;
    border: none;
    font-weight: 500;
    font-size: 36px;
}

.button:hover {
    background-color: #4dc281;
}

.button.setting {
    background-color: #b46255;
    font-size: 30px;
}

.button.setting:hover {
    background-color: #965146;
    font-size: 30px;
}

.button.number {
    background-color:  #EDF5E1;
}

.button.number:hover {
    background-color:  #aeceba;
}

#calc {
    grid-column: 4 / 6;
    grid-row: 4;
}


.footer {
    margin-top: auto;
    background-color: #379683;
    width: 100%;
    height: 3%;
    padding-top: 10px;
    text-align: center;
}